<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shardingjdbc.dao.base.OrderBaseMapper">


    <insert id="insertOrder" >
        INSERT INTO `order`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="user_id!=null">
                        `user_id`,
                    </if>
                    <if test="order_id!=null">
                        `order_id`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="user_id!=null">
                    #{user_id},
                </if>
                <if test="order_id!=null">
                    #{order_id},
                </if>
        </trim>
        )
    </insert>




    <update id="updateOrder">
        UPDATE `order`
        SET
        <trim suffixOverrides=",">
            <if test="user_id != null">
                `user_id` = #{user_id},
            </if>
            <if test="order_id != null">
                `order_id` = #{order_id},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `order`
        SET
        <trim suffixOverrides=",">
        <if test="set.user_id != null">
            `user_id` = #{set.user_id},
        </if>
        <if test="set.order_id != null">
            `order_id` = #{set.order_id},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.user_idList != null">
                    `user_id` in
                    <foreach collection="where.user_idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.user_idSt !=null">
                `user_id` >= #{where.user_idSt} and
            </if>
            <if test="where.user_idEd!=null">
                `user_id` &lt;= #{where.user_idEd} and
            </if>
                <if test="where.order_idList != null">
                    `order_id` in
                    <foreach collection="where.order_idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.order_idSt !=null">
                `order_id` >= #{where.order_idSt} and
            </if>
            <if test="where.order_idEd!=null">
                `order_id` &lt;= #{where.order_idEd} and
            </if>
        </trim>
    </update>


    <resultMap type="com.example.shardingjdbc.entity.Order" id="OrderMap">
        <result property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="order_id" column="order_id"/>
    </resultMap>


    <select id="queryOrder" resultMap="OrderMap">
        select
        <include refid="baseResult"></include>
        from  `order`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="user_id != null">
                `user_id` = #{user_id} and
            </if>
            <if test="order_id != null">
                `order_id` = #{order_id} and
            </if>
            <if test = "(_parameter instanceof com.example.shardingjdbc.entity.Order$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="user_idList != null">
                    `user_id` in
                    <foreach collection="user_idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="user_idSt !=null">
                    `user_id` >= #{user_idSt} and
                </if>
                <if test="user_idEd!=null">
                    `user_id` &lt;= #{user_idEd} and
                </if>
                <if test="order_idList != null">
                    `order_id` in
                    <foreach collection="order_idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="order_idSt !=null">
                    `order_id` >= #{order_idSt} and
                </if>
                <if test="order_idEd!=null">
                    `order_id` &lt;= #{order_idEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryOrderLimit1" resultMap="OrderMap">
        select
        <include refid="baseResult"></include>
        from  `order`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="user_id != null">
                `user_id` = #{user_id} and
            </if>
            <if test="order_id != null">
                `order_id` = #{order_id} and
            </if>
            <if test = "(_parameter instanceof com.example.shardingjdbc.entity.Order$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="user_idList != null">
                        `user_id` in
                        <foreach collection="user_idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="user_idSt !=null">
                    `user_id` >= #{user_idSt} and
                </if>
                <if test="user_idEd!=null">
                    `user_id` &lt;= #{user_idEd} and
                </if>
                    <if test="order_idList != null">
                        `order_id` in
                        <foreach collection="order_idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="order_idSt !=null">
                    `order_id` >= #{order_idSt} and
                </if>
                <if test="order_idEd!=null">
                    `order_id` &lt;= #{order_idEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `user_id`,
        `order_id`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.example.shardingjdbc.entity.Order$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.user_id==true">
                        `user_id`,
                    </if>
                    <if test="fetchFields.fetchFields.order_id==true">
                        `order_id`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.user_id==null">
                        `user_id`,
                    </if>
                    <if test="fetchFields.excludeFields.order_id==null">
                        `order_id`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.example.shardingjdbc.entity.Order$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>